<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
     <listener class-name="Utility.Listners"/>
</listeners>
  <test thread-count="5" name="Test">
  <!--    <classes>
      <class name="Framework.Registration"/>
      <class name="Framework.demoTest"/>
    </classes>-->
  </test>
<test name="AmazoneInvalidTest">
 <classes>
 <class name="Amazone.InvalidLoginAmznTest"/>
 <class name="Amazone.InvalidRegstrAmznTest"/>
 </classes>
 </test> 
  <!-- <test name="AmazoneValidTest">
 <classes>
 <class name="Amazone.LoginAmznTest"/>
 <class name="Amazone.RegisterAmznNewUserTest"/>
 </classes>
 </test> -->
 
   <!-- Test -->
</suite> <!-- Suite -->
